include ../alert/_alert
include ../breadcrumb/_breadcrumb

// Appointment calendar
section.section.section-lg.bg-invisible.novi-background( data-preset!={ title:'Appointment Calendar', category:'calendar', reload:true, id:'appointment-calendar' } )
	.container
		.row.row-30.row-xl-70.justify-content-center.novi-disabled
			.col-md-8.col-xl-6.text-center
				h1 Appointment
				p.lead.fw-normal You can contact us any way that is convenient for you. We are available 24/7 via fax or email.
			.col-12
				.fullcalendar( data-fullcalendar-event!=[
					{
						title:     '10:00 am',
						start:     '2023-02-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2023-02-14',
						end:       '2023-02-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2023-02-26',
						end:       '2023-02-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2023-03-05',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2023-03-11',
						end:       '2023-03-12',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2023-03-26',
						end:       '2023-03-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2023-04-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2023-04-14',
						end:       '2023-04-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2023-04-26',
						end:       '2023-04-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2023-05-09',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2023-05-17',
						end:       '2023-05-18',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2023-05-26',
						end:       '2023-05-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2023-06-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2023-06-14',
						end:       '2023-06-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2023-06-26',
						end:       '2023-06-27',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2023-07-09',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2023-07-17',
						end:       '2023-07-18',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2023-07-26',
						end:       '2023-07-28',
						className: 'fc-event-primary'
					}
				] )
