include ../countdown/_countdown

// Timers type #2
section.section.section-lg.bg-invisible.novi-background( data-preset!={ title:'Countdown Boxed Sample', category:'countdown', reload:true, id:'countdown-boxed-sample' } )
	.container
		h2.text-center Timers type #2
		+countdown-boxed({ to: '2023-12-31' })
